*.class
*.jar
*.jasper
**/classes
**/.settings
**/.gitignore
!.gitignore
**/bin
**/.classpath
**/.project
!Scripts_Banco_de_Dados/**/bin
**/target
ABModeloWS/.gitignore
Scripts/.gitignore
/.metadata/
/.recommenders/
*.project
.project
/.project
*/.project
*/.factorypath
/.factorypath
.factorypath
**/logs